/*Adding custom font*/
@font-face {
    font-family: "Snikers";
    src: url("./Snikers.ttf");
  }

  /* make a pseudo-selector for variables*/
:root {
    --main-bg-color: yellow;
}


/*class important refers to title team 2*/
.important{
    color: color(srgb 1 0.5 0); /*Make color orange*/
    text-align: center; /*Align it to the center*/
    background-color: var(--main-bg-color, aqua); /*change the background color*/
    width: 85q; /*setting width to 85 quarter-millimeters*/
    /*Setting border values*/
    border-radius: 1em;
    border-color: black;
    border-width: 2px;
    border-style: dashed;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    
}

/*changing values for both h2 and h3*/
h2,h3{
    /*Adding a red dotted border*/
    border: 2px red dotted;
    max-width: 17em;
    max-height: 45px;
    padding-top: 2px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
}

/* Make the id time1 to custom green*/
#time1{
    color: hsl(107, 100%, 30%);
    font-size: 1.2rem;
    width: 45vw;
    height:50px;
    /*edit the text*/
    text-decoration: underline dashed red;
    margin:auto;
}


/* All internal links color to be set to this mix of colors */
a[href^="#"]{
    color: color-mix(in srgb, blue, aqua);
    font-size: 0.9em;
    
}

/* make all other text balck and add margin by selecting everything else*/
*{
    color: rgb(0, 0, 0);
    margin-top:  1mm;
    margin-bottom: 1mm;
    margin-left: 1mm;
    margin-right: 1mm;
}

/*Edit the class header and set position to be relative*/
.header{
    position: relative;
    top: 10px; left: 5px;
}

/*Set position of button*/
button{
    position: absolute;
    top: 2040px;
    /*Nested selector for color when hovering and clicking*/
    &:hover{
        color: red;
    }
    &:active{
        background-color: black;
    }
}

/*Used before I integrated it above in the nested selector*/
/* button:hover {
    color: red;
}

button:active{
    background-color: black;
} */

.identity{
    display: block;
}

.team{
    display: inline;
}

.activities{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/*Setting different elements to different areas in the grid*/
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

/*Setting the grid template and adjusting the gap */
.grid1{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'footer footer footer footer footer footer';
    row-gap: 1px;
    column-gap: 1px;
    background-color: #90979d;
    padding: 1px;
}
/* adjusting the elements inside the grid container*/
.grid1 > li{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 2px;
}
  /* Setting specific changed for different screen sizes */
  @media (max-width: 768px) { /*Small laptop*/
    .header{
        padding: 7px;
        background-color: antiquewhite; /*setting a different background color to see the change*/
    }
    .header h1 {
        font-size: 20px;
    }
  }
  @media (max-width: 480px) { /*Mobile screen*/
    .header{
        padding: 5px;
        background-color: bisque;
    }
    .header h1 {
        font-size: 10px;
    }
  }
/* Setting custom font to p elements inside of div tag*/
  div p{
    font-family: "Snikers", serif;
  }

  div > p{
    color:red
  }

  div ~ span{
    color:blueviolet;
  }

  h3 + p{
    color: green;
  }

  li.activities{
    color: blue;
  }

  h2:has(+ p){
    color:orangered;
  }